/* GLOBAL STYLING */
* {
  box-sizing: border-box; 
  font-family: Inter, sans-serif; 
}

body {
  color: var(--colors--neutral--2);
  font-size: var(--font-size--text-default);
  line-height: var(--line-height--text-default);
  margin: 0; 
  padding: 0; 
  height: 100%; 
  background-color: black; 
  color: white; 
}

/* CONTAINER STYLE */
.container {
  width: 100%;
  max-width: 1336px; 
  margin: 0 auto; 
  padding: 0 20px; 
}

/* NAV BAR STYLING */
.navbar {
  z-index: 9999; 
  position: sticky; 
  top: 0; 
  background-color: black; 
  display: block;
}

.nav-menu-wrapper {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 0; 
}

/* LOGO STYLING*/
.brand {
  padding-left: 0; 
}

.t1-games-logo {
  display: block;
  max-width: 100%;
  width: 75px;
  margin-right: 100px;
}

/* NAV LINK STYLING */
.nav-menu {
  display: flex;
  align-items: center; 
}

.nav-link {
  color: white; 
  font-size: 18px; 
  padding: 10px 15px; 
  text-transform: capitalize; 
  transition: all 0.5s; 
  text-decoration: none; 
}

.nav-link:hover {
  background-image: linear-gradient(white, #838383); 
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
  cursor: pointer;
}

/* NAV BUTTON STYLES */
.nav-desktop-buttons {
  display: flex; 
  align-items: center;
}

.button-fill {
  color: white; 
  border-radius: 500px; 
  line-height: 1.1em; 
  transition: all 0.5s; 
  text-decoration: none; 
}

/* LOGIN BUTTON STYLE */
.button-fill:where(.w-variant-61bc9a0d-6ff0-dc82-f504-e085311c6802) {
  color: white;
  background-image: none; 
  padding: 10px 15px;
  font-size: 18px;
  margin-right: 10px;
  border: 0;
  display: inline-block;
}

.button-fill:where(.w-variant-61bc9a0d-6ff0-dc82-f504-e085311c6802):hover {
    background-image: linear-gradient(white, #838383);
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    cursor: pointer;
}

/* Signup Button Styles */
.button-fill:where(.w-variant-b343637e-6926-f2e8-3bf0-555073400c9e) {
  padding: 14px 24px;
  font-size: 18px;
  background-image: linear-gradient(50deg, #676565, #959595); 
  border-radius: 500px;
}

.button-fill:where(.w-variant-b343637e-6926-f2e8-3bf0-555073400c9e):hover {
  background-image: linear-gradient(50deg, #959595, #676565);
  cursor: pointer;
}

/* Hero Section Styles */
.hero-section {
  padding: 80px 20px 24px; 
  text-align: center;
}

.hero-layout {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.hero-title-block {
  max-width: 904px;
  margin: 0 auto 20px; 
}

.h1.font-700 {
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 10px;
}

.text-xl {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}
