/* Base Styles */
* {
    box-sizing: border-box;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: white;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    border: 0;
}

div {
    overflow-wrap: break-word;
    -webkit-nbsp-mode: space;
    line-break: after-white-space;
    display: block;
}

body {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-family: Inter, sans-serif;
    line-height: 27.52px;
    margin: 0;
    padding: 0;
    height: 100%;
}

input {
    font: inherit;
    margin: 0;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

input:is([type="button"], [type="submit"], [type="reset"]) {
    align-items: flex-start;
    text-align: center;
    padding-block-start: 2px;
    padding-block-end: 3px;
    padding-inline-start: 6px;
    text-wrap-mode: nowrap;
    white-space-collapse: preserve;
}

::placeholder{
    -webkit-text-security: none;
    color: darkgray;
    direction: inherit;
    pointer-events: none;
    text-orientation: inherit;
    writing-mode: inherit;
}

/* ROOT VARIABLE */
:root {
    --colors--neutral-2: #fff9;
    --font-size--text-default: 16px;
    --line-eight--text-default: 1.72em;
    --colors--white: white;
    --color--white-10: #ffffff1a;
}

/* Typography Styling */
.h3, .h1 {
    font-family: Plus Jkarta Sans, sans-serif;
    font-weight: 700;
}

.h3 {
    font-size: 32px;
    letter-spacing: -0.5px;
}

.text-lg {
    font-size: 18px;
    line-height: 32px;
}

.text-lg:hover {
    background-image: linear-gradient(white, #838383);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.text-xl {
    font-size: 25px;
    color: rgba(255,255,255,0.8);
    opacity: 1;
}

.font-500 {
    font-weight: 500;
    color: #c8c8c8;
}

/* LAYOUT AND CONTAINERS */

.container {
    width: 100%;
    max-width: 1336px;
    margin: 0 auto;
    padding: 0 20px;
}

/* NAV BAR */
.navbar {
    z-index: 9999;
    position: sticky;
    top: 0;
    background-color: black;
    display: block;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.nav-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    z-index: 1000;
    position: relative;
    padding: 0 20px;
}

.t1-games-logo {
    width: 75px;
    margin-right: 100px;
}

.nav-menu {
    row-gap: 32px;
    column-gap: 32px;
    display: flex;
}

.nav-link {
    color: white;
    font-size: 18px;
    padding: 40px 20px;
    text-transform: capitalize;
    transition: all 0.5s;
}

.nav-link:hover, .w-button:hover {
    cursor: pointer;
    background-image: linear-gradient(white, #838383);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-desktop-buttons {
    display: flex;
    align-items: center;
}

.button-fill {
    color: white;
    border-radius: 500px;
    line-height: 1.1em;
    transition: all 0.5s;
    cursor: pointer;
}

.button-fill.w-variant-61bc9a0d-6ff0-dc82-f504-e085311c6802 {
    background-color: black;
    padding: 10px 20px;
    margin-right: 10px;
    border: 0;
}

.button-fill.w-variant-b343637e-6926-f2e8-3bf0-555073400c9e:hover {
    background-image: linear-gradient(50deg, #959595, #676565);
}

/*HERO SECTION; SECOND CONTAINER */
.hero-section {
    z-index: 5;
    padding: 80px 0 24px;
    position: relative;
}

.hero-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title-block {
    text-align: center;
    max-width: 904px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-description-wrap {
    max-width: 794px;
    margin: 0 auto;
    padding: 0 20px;
}

.color_white {
    color: rgba(255, 255, 255, 0.6);
    height: 184px;
}

.button-wrap:hover {
    cursor: pointer;
    background-clip: text;
}

/*CONTAINER FOR PAGE*/
.auth-title {
    text-align: center;
}


.auth-section {
    z-index: 1;
    margin-top: -140px;
    padding: 200px 0 80px;
    position: relative;
    overflow: hidden;
}

.auth-layout {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: 0 auto;
    padding: 60px;
    background-color: rgb(14, 16, 17);
    border-radius: 20px;
    border: 1px solid;
    gap: 32px;
}


/*INPUT BLOCKS*/
.auth-input-form-block {
    gap: 24px;
    flex-direction: column;
    display: flex;
}

/* CONTAINERS FOR GOOGLE AND FACEBOOK*/
.auth-wrapper-block {
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/*CONTAINER FOR GOOGLE SECTION*/
.auth-link-block {
    gap: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(4, 4, 3);
    color: #808085;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 24px;
    text-decoration: none;
    display: flex;
}

.w-inline-block {
    max-width: 100%;
}

/* DIVIDER BETWEEN GOOGLE/FACEBOOK*/
.auth-divider {
    gap: 26px;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 1;
}

.horizontal-border{
    background-color: #c8c8c8;
    width: 100%;
    height: 1px;
}

/*AUTH FORMAT*/
.form-block {
    margin-bottom: 0;
}

.w-form {
    margin: 0 0 15px;
}

.form {
    flex-flow: column;
    display: flex;
}

form {
    margin-top: 0em;
}

.form.auth-fields-gap {
    gap: 24px;
}

.form-fields-wrap {
    gap: 20px;
    flex-flow: column;
    display: flex;
}

.forms-field-wrapper {
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.forms-fields-wrapper.column {
    flex-flow: column;
    display: flex;
}

.form-input-field {
    border: 1px solid rgbg(255, 255, 255, 0.1);
    width: 100%;
    color: white;
    border-radius: 12px;
    margin-bottom: 0;
    padding: 28px 24px;
    font-size: 18px;
    line-height: 1.8em;
}

.w-input {
    width: 100%;
    height: 38px;
    display: block;
}

input::-webkit-textfield-decoration-container {
    display: flex;
    align-items: center;
    content: none;
    writing-mode: inherit;
}

.form-button-block {
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button-white {
    background-color: rgb(255, 255, 255);
    color: #111314;
    border-radius: 500px;
    width: 100%;
    padding: 16px 80px;
    font-weight: 500;
}

.w-button {
    line-height: inherit;
    border: 0;
    display: inline-block;
}

.auth-redirect-link-wrapper {
    text-align: center;
    color: #808085;
    flex-flow: column; 
    justify-content: center;
    display: flex;
}


.auth-link {
    color: white;
    font-size: 18px;
    transition: all .5s;
    line-height: 32px;
    text-transform: capitalize;
}

.auth-link:hover{
    cursor: pointer;
    background-color: linear-gradient(white, #838383);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

/* INSIDE INPUT */
.form-input-field:lang(en) {
    background-color: rgb(4, 4, 3);
}

  
  .w-nav-link {
    vertical-align: top;
    text-align: left;
    margin: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
    text-transform: capitalize;
  }
  
  /* LOGIN */
  .button-fill:where(.w-variant-61bc9a0d-6ff0-dc82-f504-e085311c6802) {
    color: white;
    background-color: black;
    background-image: none;
    padding: 0;
    transition: all .3s;
    font-size: 18px;
    margin-right: 10px;
    border: 0;
    text-decoration: none;
    display: inline-block;
  }
  
  /* SIGN-UP DOES NOT CONTAIN button-fill*/
  .button-fill:where(.w-variant-b343637e-6926-f2e8-3bf0-555073400c9e) {
    padding: 14px 24px;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(50deg, #676565, #959595);
    border-radius: 500px;
    text-decoration: none;
  }
  

 
